html {
	height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
  font-family: 'Quicksand', sans-serif;
  background: url("welcome.jpg") no-repeat center center fixed;
  padding-bottom: 70px;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

.blue{
  color:#279AF3;
}

.background {
  background: url("welcome.jpg");
}
